

        *{
            scroll-behavior: smooth;
        }

        #theme-img{
            width: 2rem;
            margin: 0 1rem;
        }

        .product{
            position:relative;
            min-height: 25rem;
            max-height: auto;
            margin-top:1rem;
            transition: hover 0.2s ease-out;
            padding: 1rem 2rem;
            /* margin: 4rem 0; */
            border: 1px solid white;
        }

        .product:hover{
            border-radius:0.5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .product:hover #pro-img{
            box-shadow: none;
        }

        #pro-cont{
            border-radius:0.5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        #pro-img{
            width: 100%;
            border-radius:0.5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        #buy-btn{
            position: absolute;
            right:1rem ;
            bottom: 1rem;
        }

        #cart-btn{
            position: absolute;
            right: 6.5rem;
            bottom:1rem ;
        }

        #cart{
            position: relative;
        }

        #cart-count{
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: red;
            color: white;
            border-radius: 50%;
            right:15px;
        }
